extends layout

block content
    a(href="/") Return to the Homepage 
    h1 An Error 404 Has Occurred.
    br
    p If you are seeing this page, then something has gone wrong and caused an Error 404 to occur.
    p To navigate away from this page, simply click the link above the header