extends layout

block content
    a(href="/") Return to Homepage
    h1 API Documentation 
    p This page will document the basics of the API that has been constructed.

    h2 Sample AirBnB API
    p The data contained in this API is provided by MongoDB as part of their sample datasets.
    p This API route will return a list of Sample AirBnB Listings from an example dataset provided by MongoDB.
    p Currently, it is set to return only 1 (one) AirBnB document, as to provide a basic starting point to build the various API endpoints that will eventually be created.