extends layout

block content
  h1= title
  p Welcome to #{title}

  p This is the Express API backend for my MERN Fullstack project

  h2 Purpose 
  p The purpose for this page (and other pages on this "site") is to provide some detail / information about the API itself, and to provide Heroku some things to render, just for debugging purposes and ensuring that the API is actually hosted and working
  
  
  h2 Links
  br
  a(href="/api" id="apiLink") Link to the API Explanation
  br
  
   