body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-align: center;
}

p, h1, h2{
  text-align: center;
}

h1, h2{
  text-decoration: underline;
}
